@tailwind base;
@tailwind components;
@tailwind utilities;

*,body,html{
  box-sizing: border-box;
  /*border: 1px  red solid; */
}
.home{
  background-image: url('./images//mainBackground.jpg');
  background-repeat: repeat;
}
